@font-face {
    font-family: 'SpinCycleOT';
    src: url('./fonts/spincycle_ot.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* SpinCycle 3D OT */

@font-face {
    font-family: 'SpinCycle3DOT';
    src: url('./fonts/spincycle_3d_ot.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* Source Sans Pro - Regular */

@font-face {
    font-family: 'SourceSansPro';
    src: url('./fonts/SourceSansPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}


/* Source Sans Pro - SemiBold */

@font-face {
    font-family: 'SourceSansPro';
    src: url('./fonts/SourceSansPro-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}


/* Source Sans Pro - Light */

@font-face {
    font-family: 'SourceSansPro';
    src: url('./fonts/SourceSansPro-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}


/* Source Sans Pro - Bold */

@font-face {
    font-family: 'SourceSansPro';
    src: url('./fonts/SourceSansPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
  --light_coral_red: #FF6565;
  --very_dark_navy_blue: #071629;
}

body {
    font-family: 'SourceSansPro', sans-serif;
    color: white;
    max-width: 1440px;
}

.hero {
    background-image: url(./images/headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.logo {
    height: 32px;
}

.header>nav>ul {
    list-style-type: none;
    display: flex;
}

.header>nav>ul>li {
    margin: 0 15px;
}

.header>nav>ul>li>a {
    text-decoration: none;
    color: #fff;
}

.header>nav>ul>li>a:hover {
    color: var(--light_coral_red);
}

.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.background-box {
    margin-top: 120px;
    max-width: 637px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-box>h3 {
    font-size: 32px;
}

.background-box>h6 {
    font-size: 16px;
    padding-bottom: 40px;
}

button {
    display: block;
    padding: 14px 20px;
    border: none;
    background-color: var(--light_coral_red);
    color: #fff;
    border-radius: 22px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #db5555;
}

.background-box>p {
    font-size: 16px;
    padding-top: 60px;
    font-weight: 100;
    text-align: center;
}

.what-we-do {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 678px;
    text-align: center;
}

.what-we-do-box-1 {
    max-width: 637px;
    margin: 70px auto;
    color: var(--very_dark_navy_blue);
}

.what-we-do-box-1>h3 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 40px
}

.what-we-do-box-2 {
    max-width: 1000px;
    margin: 0 auto;
    color: var(--very_dark_navy_blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.what-we-do-card {
    flex: 1;
}

.what-we-do-card>h6 {
    margin: 20px 0;
    font-size: 18px;
}

.what-we-do-card>p {
    font-size: 16px;
}

.video {
    width: 52px;
}